# Configuración para entorno local / Docker Compose
DB_HOST=localhost
DB_PORT=5435
DB_USER=postgres
DB_PASSWORD=postgres

# Nombres de bases de datos físicas por empresa
DB_NAME_ECUASANITAS=mmqhali_cashier_ecuasanitas
DB_NAME_PRAXMED=mmqhali_cashier_praxmed

# Credenciales por empresa (por defecto usan las globales si no se especifican)
DB_USER_ECUASANITAS=postgres
DB_PASSWORD_ECUASANITAS=postgres
DB_USER_PRAXMED=postgres
DB_PASSWORD_PRAXMED=postgres
